<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673748284943-8edfmkvssf6b5ah5lap58062ma861buo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673748284943-8edfmkvssf6b5ah5lap58062ma861buo</string>
	<key>API_KEY</key>
	<string>AIzaSyCvkQU01mz6GMuxB4o1SGk4CEtvKoxIkQU</string>
	<key>GCM_SENDER_ID</key>
	<string>673748284943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>my-notes-c1966</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-c1966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673748284943:ios:dbf2a33e2c4c84ac47157a</string>
</dict>
</plist>